//---------------------------------------------------------------------------
// #SINGLE-TRANSITION
//---------------------------------------------------------------------------

@mixin single-transition($property: all, $timing: 218ms, $ease: cubic-bezier(0.4, 0.0, 0.2, 1), $delay: false) {
  @if (type-of($delay) == 'number') {
    transition: $property $timing $ease $delay;
  } @else {
    transition: $property $timing $ease;
  }
}

@mixin easing-out($element: all, $speed: 218ms) {
  @include single-transition($property: $element, $timing: $speed, $ease: cubic-bezier(0.0, 0.0, 0.2, 1));
}

@mixin easing-in($element: all, $speed: 218ms) {
  @include single-transition($property: $element, $timing: $speed, $ease: cubic-bezier(0.4, 0.0, 1, 1));
}

@mixin sharp-in($element: all, $speed: 218ms) {
  @include single-transition($property: $element, $timing: $speed, $ease: cubic-bezier(0.4, 0.0, 0.6, 1));
}

//---------------------------------------------------------------------------
// #LIST-RESET
//---------------------------------------------------------------------------

@mixin list-reset() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

//---------------------------------------------------------------------------
// #INVISIBLE
//---------------------------------------------------------------------------

@mixin invisible($state: true) {
  @if ($state == true) {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    visibility: hidden;
  } @else {
    max-height: $indent;
    max-width: $indent;
    opacity: 1;
    visibility: visible;
  }
}

//---------------------------------------------------------------------------
// we use it to make a stylish effect of text overflow with ellipsis
//---------------------------------------------------------------------------

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // FF bug fix
  vertical-align: top;
  display: inline-block;
}

