.time-table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  flex-direction: column;
  pointer-events: none;

  @media (min-width: $grande) {
    flex-direction: row;
    font-size: 80%;
  }

  @media (min-width: $venti) {
    font-size: 120%;
  }

  &__name,
  &__divider {
    @extend .base;
    padding: $pad-quarter;
    opacity: .5;

    &.selected {
      opacity: 1;
      font-size: 115%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__name {
    span + span {
      margin-left: 6px; // magic number
    }
  }

  &__divider {
    display: none;

    @media (min-width: $grande) {
      display: block;
    }
  }

  &__clock {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      line-height: 1;
      font-size: 100%;
      display: inherit;
      margin-right: 5px;

      @media (min-width: $grande) {
        font-size: 75%;
        margin: 0;
        display: block;
      }
    }

    .fa {
      font-size: 155%;
      margin-right: 6px; // magic number
    }
  }
}
