.promo--box {
  input {

    &:not([value = ""]) + .promo-code__text,
    &:focus + .promo-code__text {
      display: none;
    }
  }
}


.promo-code {
  &__text {
    @include text-truncate();
    display: block;
    pointer-events: none;
    font-size: 70%;
    color: $gray;
    font-style: italic;
    width: 100%;

    position: absolute;
    left: 0;
    top: 5px;
    padding: 0 10px;
  }
}
