.main--header {
  background-color: $coat;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu--toggle {
  @media (min-width: $grande) {
    display: none;
  }
}

.header--navigation {
  background-color: $mist;
  border-bottom: 1px solid $concrete;
  display: none;

  &.toggled {
    @media (max-width: $grande) {
      display: flex;
    }
  }

  @media (max-width: $grande) {
    justify-content: space-around;

    .link {
      .fa {
        display: block;
        margin-bottom:  $space;
      }
    }
  }

  @media (min-width: $grande) {
    display: block;
  }

  .link {
    padding: $pad;
    display: block;
    height: 100%;

    span {
      font-size: 70%;

      @media (min-width: $grande) {
        font-size: 100%;
        margin-left: $space-half;
      }
    }

    &:not(.grayed) {
      font-weight: 600;
      position: relative;

      $triangle--size: 9px;

      &::before {
        left: 50%;
        width: 0;
        height: 0;
        top: 100%;
        border-right: $triangle--size solid transparent;
        border-left: $triangle--size solid transparent;
        border-top: $triangle--size solid $concrete;
        content: ' ';

        transform: translateX(-50%);
        position: absolute;
      }

      &::after {
        top: 100%;
        width: 0;
        height: 0;
        border-right: #{$triangle--size - 1} solid transparent;
        border-left: #{$triangle--size - 1} solid transparent;
        border-top: #{$triangle--size - 1} solid $mist;
        content: ' ';
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
      }
    }
  }
}
