.main--footer {
  background-color: $coat;
  padding: $pad-and-half $pad-half;

  &__navigation {
    margin-bottom: $space-double;
    .link {
      display: inline-block;
      padding: 0 $pad-half;
    }
  }

  small {
    margin-top: $space-double;
    color: $mist;

    a {
      font-size: inherit;
    }
  }
}

.footer--social {
  margin-top: $space;

  .link {
    font-size: 230%;
    padding: 0 #{$pad - $pad-quarter};
  }
}
