.booking--plans {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: $space-double 0;

  > .box-layout {
    min-width: 310px;
    max-width: 310px;
    margin: $space $space-half;

    @media (min-width: $venti) {
      min-width: 23%;
      max-width: 23%;
    }

    &.popular .content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .benefits {
    padding-left: $space;
    margin-bottom: $space-double;

    li {
      margin-bottom: $space;
    }
  }
}
