//--------------------------------------------------------------------------
// #FORMS
//--------------------------------------------------------------------------
// #VARIABLES
//--------------------------------------------------------------------------

$form--border-radius: 3px;
$inputs--line-height: 22px;

//--------------------------------------------------------------------------
// #GENERAL
//--------------------------------------------------------------------------

input,
textarea,
select {
  @include font--primary($line: $inputs--line-height);
  @include single-transition($property: border);
  background: #fcfcfc none;
  height: $inputs--line-height;
  border: 1px solid #e6e6e6;
  border-radius: $form--border-radius;
  color: $black;
  display: inline-block;
  outline: 0;
  padding: 0 $pad;

  &:not([disabled]) {
    &:focus,
    &:hover {
      border-color: darken($mist, 10%);

      + span {
        border-color: darken($mist, 10%);
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $white;
  }

  .field--container & {
    display: block;
    width: 100%;
  }

  &::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }

  &::-ms-input-placeholder { /* Edge */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }

  &:placeholder-shown { /* Standard one last! */
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 300;
  }
}


//--------------------------------------------------------------------------
// #FIELD--CONTAINER
//--------------------------------------------------------------------------

.field--container {
  position: relative;
}

//--------------------------------------------------------------------------
// #RESETS
//--------------------------------------------------------------------------

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  box-shadow: none !important;
}

.selectize-input.focus {
  box-shadow: none !important;
}

textarea {
  resize: none;
  line-height: 1.5;
  padding-top: round($inputs--line-height / 4);
  min-height: ceil($inputs--line-height * 2);
}

select {
  box-shadow: none;
  border-radius: 0;
  height: $inputs--line-height;
  line-height: $inputs--line-height - 1px; // 1px less than the height of the container to fix odd rendering
  text-overflow: ''; // Firefox Fix

  &::-ms-expand {
    display: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  $size: 15px;

  height: $size;
  position: relative;
  top: 2px;
  width: $size;
}

//--------------------------------------------------------------------------
// #CUSTOM BOOLEANS
//--------------------------------------------------------------------------

.custom-checkbox {

  > input {
    @include invisible();
    position: absolute;
  }

  input {

    + span {
      $size: 15px;

      min-height: $size;
      padding-left: $size + 7px;
      position: relative;
      user-select: none;

      &::before {
        @include single-transition();
        background-color: $mist;
        border: 1px solid darken($mist, 15%);
        color: white;
        content: ' ';
        cursor: pointer;
        font: normal normal normal 9px/1 FontAwesome;
        height: $size;
        left: 0;
        top: 0;
        padding: round($size / 10);
        position: absolute;
        width: $size;
      }
    }

    &:checked + span::before {
      background-color: $base;
      border-color: darken($base, 5%);
      content: "\f00c";
      border-radius: 50%;
    }
  }
}

.custom-radio {
  @extend .custom-checkbox;

  input + span::before {
    border-radius: 50%;
    background-color: white;
  }

  input {
    &:checked + span::before {
      background-color: white;
      border-color: $mist;
      content: ' ';
      border-radius: 50%;
    }

    &:checked + span::after {
      $size: 9px;

      background-color: $base;
      content: ' ';
      border-radius: 50%;
      color: $base;
      cursor: pointer;
      font: normal normal normal 9px/1 FontAwesome;
      height: $size;
      position: absolute;
      width: $size;

      top:  3px;
      left: 3px;
    }
  }
}
