//----------------------------------------------------------------------------
// #LOGOS
//----------------------------------------------------------------------------

.app--logo {
  display: inline-block;
  margin: $space-half auto;
  overflow: hidden;
  width: 175px;

  img {
    display: block;
    width: 100%;
  }

  small {
    color: $white;
    font-size: 50%;
  }
}
