//----------------------------------------------------------------------------
// #LINKS
//----------------------------------------------------------------------------

.link {
  @include single-transition();
  text-decoration: none;
  color: $base;

  &.muted {
    color: rgba($base, .7);
  }

  &:focus,
  &:hover,
  &:visited {
    color: $base;
    text-decoration: none;
    opacity: .85;
  }

  &:active {
    text-decoration: none;
  }

  $links:  ("yellow", $yellow),
          ("green", $green),
          ("red", $red),
          ("white", $mist),
          ("error", $error),
          ("valid", $valid);

  @each $name, $color in $links {
    &.#{$name} {
      color: $color;

      &:focus,
      &:hover,
      &:visited {
        color: $color;
        text-decoration: none;
        opacity: .85;
      }
    }
  }

  &.accent   {   color: $accent;     }
  &.valid    {   color: $valid;      }
  &.warning  {   color: $warning;    }
  &.error    {   color: $error;      }
  &.grayed   {   color: $aluminum;   }
  &.white    {   color: $white;      }
}

.link__no-style {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
