//--------------------------------------------------------------------------
// #BUTTONS
//--------------------------------------------------------------------------
// #VARIABLES
//--------------------------------------------------------------------------
$button-size:                       $global--button-size;

//--------------------------------------------------------------------------
// #GENERAL-BUTTONS
//--------------------------------------------------------------------------

%basic--button {
  @include font--primary($weight: 600);
  align-items: center;
  background: 0 0;
  border: 0;
  color: $base;
  cursor: pointer;
  display: inline-block;
  line-height: $button-size;
  outline: 0;
  overflow: hidden;
  text-transform: uppercase;
  transform: translateZ(0);
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), border-color .4s cubic-bezier(.25, .8, .25, 1);
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.button {
  @extend %basic--button;
  color: currentColor;
  border-radius: 0;
  margin: $space-half round($space-half * 1.25);
  min-height: $button-size;
  min-width: $button-size*2;
  padding: 0 $pad;
  text-align: center;
  text-decoration: none;
}

//--------------------------------------------------------------------------
// #FLAT-STYLES
//--------------------------------------------------------------------------
.button {
  background-color: $base;
  border: 1px solid $base;

  $button:("accent", $accent), ("valid", $valid);

  &:not([disabled]) {
    color: white;

    @media (min-width: $venti) {
      &:focus,
      &:hover {
        $hover--color: darken($base, 10%);
        border-color: $hover--color;
        background-color: $hover--color;
      }
    }

    @each $name, $color in $button {
      &.#{$name} {
        @if $name == 'white' {
          color: $black;
        }
        background-color: $color;
        border-color: $color;

        @media (min-width: $venti) {
          &:focus,
          &:hover {
            $hover--color: darken($color, 10%);
            border-color: $hover--color;
            background-color: $hover--color;
          }
        }
      }
    }

    &.outline {
      background: transparent;
      border-color: $base;
      color: $base;

      @media (min-width: $venti) {
        &:focus,
        &:hover {
          $hover--color: darken($base, 10%);
          border-color: $hover--color;
          color: $hover--color;
          background: transparent;
        }
      }

      @each $name, $color in $button {
        &.#{$name} {
          @if $name == 'white' {
            color: $black;
          }
          background-color: transparent;
          border-color: $color;
          color: $base;

          @media (min-width: $venti) {
            &:focus,
            &:hover {
              $hover--color: darken($color, 10%);
              border-color: $hover--color;
              color: $hover--color;
              background: transparent;
            }
          }
        }
      }
    }
  }
}
