//--------------------------------------------------------------------------
// #TYPOGRAPHY
//--------------------------------------------------------------------------
// #BASIC-TEXT
//--------------------------------------------------------------------------

@mixin font--primary($size: 14px, $weight: 300, $line: 1.5) {
  font-family: $primary--font-family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
}

.font--primary {
  @include font--primary();
}

a,
p, .p,
ul, .ul,
ol, .ol,
label,
small {
  @include font--primary();
}

time {
  color: $aluminum;
}

p, .p {
  color: $black;
  margin-bottom: $space;
}

label {
  display: block;
  padding: $pad-quarter 0;
}

//--------------------------------------------------------------------------
// #HEADINGS-TEXT
//--------------------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
blockquote, .blockquote {
  @include font--primary($weight: 600);
  color: $coat;
  cursor: default;
  margin: $space-half 0;

  &:first-letter {
    text-transform: uppercase;
  }
}

h1, .h1 {
  font-size: 250%;
  @media (min-width: $grande) {
    font-size: 300%;
  }
}

h2, .h2 {
  font-size: 200%;
  @media (min-width: $grande) {
    font-size: 250%;
  }
}

h3, .h3 {
  font-size: 125%;
  @media (min-width: $grande) {
    font-size: 160%;
  }
}

h4, .h4 {
  font-size: 115%;

  @media (min-width: $grande) {
    font-size: 120%;
  }
}

h5, .h5 {
  font-size: 100%;
}

h6, .h6 {
  font-size: 85%;

  @media (min-width: $grande) {
    font-size: 90%;
  }
}

//--------------------------------------------------------------------------
// #SMALL
//--------------------------------------------------------------------------

small {
  color: $aluminum;
  font-size: 11px;
}

//--------------------------------------------------------------------------
// #BLOCKQUOTE-TEXT
//--------------------------------------------------------------------------

blockquote, .blockquote {
  padding: $pad-half $pad;
  border-left: 5px solid $base;
}


//--------------------------------------------------------------------------
// #INLINE-ELEMENTS
//--------------------------------------------------------------------------

abbr {
  border-bottom: 1px dotted $base;
  cursor: help;
}


mark {
  background-color: $base;
  color: white;
}


//--------------------------------------------------------------------------
// #LIST-STYLES
//--------------------------------------------------------------------------

ul.list-reset,
ol.list-reset {
  @include list-reset();
}

.inline-list {
  > li {
    display: inline-block;
  }
}


//--------------------------------------------------------------------------
// #COLORS FOR TEXTS
//--------------------------------------------------------------------------

.base     {   color: $base;       }
.accent   {   color: $accent;     }
.valid    {   color: $valid;      }
.warning  {   color: $warning;    }
.error    {   color: $error;      }
.grayed   {   color: $gray;       }
.black    {   color: $black;       }
.white    {   color: $white;      }


//--------------------------------------------------------------------------
// #HELPERS FOR TEXTS
//--------------------------------------------------------------------------

.text-center  { text-align: center;   }
.text-left    { text-align: left;     }
.text-right   { text-align: right;    }
.no-margin    { margin: 0 !important; }

.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
