//---------------------------------------------------------------------------
// #COLORS-SETTINGS
//---------------------------------------------------------------------------

$blue-da-france:        #18A8E1;
$strawberry:            #FF0033;
$midnight:              #2C292A;
$alabaster:             #F8F8F8;
$pistachio:             #8FC577;
$tulip-tree:            #E8B03F;


//---------------------------------------------------------------------------
// #FITFTY-SHADES-OF-GREYS
//---------------------------------------------------------------------------

$mist:                  #F8F8F5;

//---------------------------------------------------------------------------
// #ELEMENTAL-COLOURS
//---------------------------------------------------------------------------

$white:                 #FFFFFF;
$black:                 #333333;
$montana:               #555555;
$jumbo:                 #777777;
$aluminum:              #898989;
$concrete:              #BBBBBB;


//---------------------------------------------------------------------------
// #BASE-COLORS
//---------------------------------------------------------------------------

$base:                  $blue-da-france;
$accent:                $strawberry;
$coat:                  $midnight;

$red:                   $strawberry;
$green:                 $pistachio;
$yellow:                $tulip-tree;
$gray:                  $aluminum;


//---------------------------------------------------------------------------
// #PLIGHT-COLOURS
//---------------------------------------------------------------------------

$valid:                 $green;
$warning:               $yellow;
$error:                 $red;
$disabled:              $concrete;


//---------------------------------------------------------------------------
// #BORDERS
//---------------------------------------------------------------------------
$global--border-color:  rgba($concrete, .2);
