//--------------------------------------------------------------------------
// #MEASURES
//--------------------------------------------------------------------------

$space :                        1rem;
$space-and-half:                $space*1.5;
$space-double:                  $space*2;
$space-half:                    $space/2;
$space-quarter:                 $space/4;

$pad:                           1rem;
$pad-and-half:                  $pad*1.5;
$pad-double:                    $pad*2;
$pad-half:                      $pad/2;
$pad-quarter:                   $pad/4;


//--------------------------------------------------------------------------
// #DEFAULTS
//--------------------------------------------------------------------------

$indent:                        -9999rem;

//--------------------------------------------------------------------------
// #MEDIA-QUERIES
//--------------------------------------------------------------------------

$short:                         20.00rem;
$tall:                          30.01rem;
$grande:                        47.50rem;
$venti:                         60.00rem;
$trenta:                        71.25rem;
$american:                      87.50rem;
$depth-charge:                  100.0rem;


//--------------------------------------------------------------------------
// #GRIDS
//--------------------------------------------------------------------------

$global--amount-of-columns-desktop: 10;
$global--amount-of-columns-tablet:  8;
$global--amount-of-columns-mobile:  4;

$global--max-width-of-grid:         $american;

//--------------------------------------------------------------------------
// #BORDERS
//--------------------------------------------------------------------------

$global--border: 1px solid $global--border-color;
$global--border-radius: 3px;


//--------------------------------------------------------------------------
// #BUTTONS
//--------------------------------------------------------------------------

$global--button-size: 39px;


//--------------------------------------------------------------------------
// #FONT
//--------------------------------------------------------------------------

$global--font-size:                   16px;
$primary--font-family:                "Roboto", sans-serif;


//--------------------------------------------------------------------------
// #SIDEBAR
//--------------------------------------------------------------------------
$global--sidebar-width:               310px;


//--------------------------------------------------------------------------
// #HEADER
//--------------------------------------------------------------------------

 $global--header-height:              55px;
