//----------------------------------------------------------------------------
// #BOX
//----------------------------------------------------------------------------

$box-layout--border: $global--border;

%basic--box-layout {
  background: $mist;
  border-radius: 2px;
  margin: $space auto;
  outline: none;
}

.box-layout {
  @extend %basic--box-layout;
  box-shadow: 0 10px 20px rgba($aluminum, 0.19), 0 6px 6px rgba($aluminum, 0.23);

  .content {
    padding: $pad;
  }

  .button {
    width: 100%;
  }
}
