//----------------------------------------------------------------------------
// #HTML-BASICS
//----------------------------------------------------------------------------

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100vw;
}

body {
  background-color: $white;
  padding: 0;
  margin: 0;
}

#main,
.app-template {
  height: 100%;
}

.app-template {
  // for sticky footer
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {

  &__flex {
    display: flex;
  }
}

.app--content {
  padding: $pad-double $pad-half;
  margin: 0 4%;

  @media (min-width: $grande) {
    padding: $pad-double 0;
    margin: 0 4%;
  }

  @media (min-width: $american) {
    margin: 0 8%;
  }

  @media (min-width: $depth-charge) {
    margin: 0 10%;
  }
}
